@use "../mixins/responsive.scss" as *;
@use "../mixins/hover.scss" as *;

.button {
  font-family: var(--font-family-karla);
  font-weight: var(--font-weight-bold);
  font-size: 13px;
  padding: 13px 29px;
  border: 1px solid var(--white);

  @include responsive(desktop) {
    background-color: var(--color-primary);
    @include hover {
      background-color: var(--white);
      color: var(--color-primary);
    }
  }
}
