@use "../mixins/responsive.scss" as *;

.header {
  @include responsive(desktop) {
    position: relative;
    z-index: 10;
  }
}
.header__top {
  position: fixed;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  background-color: var(--white);

  @include responsive(desktop) {
    padding: 30px 165px;
    position: relative;
  }
}
