.menu {
  position: fixed;
  top: 80px;
  background-color: var(--color-menu);
  color: var(--white);
  padding: 40px 24px;
  text-align: center;
  height: calc(100vh - 80px);
  width: 100%;
  font-family: var(--font-family-karla);
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  letter-spacing: 2px;
  background-image: url(./assets/images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  transform: translateX(100%);
  transition: transform 0.3s;
  z-index: 1;
}

.menu--show {
  transform: translateX(0);
}

.menu__item {
  margin-bottom: 48px;
}

.menu__view {
  border: 1px solid var(--white);
  padding: 16px 0;
}
